<!DOCTYPE html>
<html lang="en" id="top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="author" content="Jacob Perez">
    <title>Components - Essentials</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- Navigation -->
    <nav class="fixed-top dark">
        <div class="wrapper max-width">
            <ul class="flex">
                <li><a class="nav-link alt-link" href="https://jacobxperez.github.io/essentials/">Essentials</a></li>

                <li class="flex-grow"></li>

                <li class="sm-none"><a class="nav-link alt-link"
                        href="https://jacobxperez.github.io/essentials/#getting-started">Getting Started</a></li>
                <li class="sm-none"><a class="nav-link alt-link js-toggle js-toggle-reset"
                        href="#components">Components</a></li>
                <li class="sm-none"><a class="nav-link alt-link js-toggle js-toggle-reset" href="../icons/">Icons</a>
                </li>
                <li class="sm-none"><a class="icon-flow-branch nav-link alt-link "
                        href="https://github.com/jacobxperez/essentials"> Fork</a></li>
                <li class="sm-none"><a class="icon-download nav-link alt-link js-toggle js-toggle-reset"
                        href="https://github.com/jacobxperez/essentials/archive/master.zip"></a></li>

                <!-- Dropdown Menu -->
                <li class="sm-block">
                    <a class="icon-menu nav-link alt-link js-toggle js-toggle-reset"></a>

                    <nav class="drop-box dark absolute left">
                        <div class="wrapper">
                            <ul>
                                <li><a class="nav-link alt-link"
                                        href="https://jacobxperez.github.io/essentials/#getting-started">Getting
                                        Started</a>
                                </li>
                                <li><a class="nav-link alt-link" href="#components">Components</a></li>
                                <li><a class="nav-link alt-link" href="../icons/">Icons</a></li>
                                <li><a class="icon-flow-branch nav-link alt-link"
                                        href="https://github.com/jacobxperez/essentials"> Fork</a></li>
                                <li><a class="icon-download nav-link alt-link"
                                        href="https://github.com/jacobxperez/essentials/archive/master.zip">
                                        Download</a></li>
                            </ul>
                        </div>
                    </nav>
                </li>
                <!-- end Dropdown Menu -->
            </ul>
        </div>
    </nav>
    <!-- end Navigation -->

    <header id="components" class="section-header">
        <div class="wrapper">
            <h1 class="section-title">Components</h1>

            <p class="section-subtitle">Easy guide for each component.</p>
        </div>
    </header>

    <main class="wrapper">
        <section class="grid">
            <!-- Secondary Nav -->
            <nav class="leading">
                <ul class="sm-none">
                    <li>
                        <p><strong>Contents</strong></p>
                    </li>
                    <li><a href="#buttons">Buttons</a></li>
                </ul>

                <ul class="sm-block border">
                    <li>
                        <a class="nav-link js-toggle"><strong>Contents<span
                                    class="icon-down-open float-right"></span></strong></a>

                        <ul class="drop-box">
                            <li><a class="nav-link" href="#buttons">Buttons</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- end Secondary Nav -->

            <!-- Content -->
            <article>
                <h2 id="buttons">Buttons</h2>
            </article>
            <!-- end Content -->

            <footer>
                <hr>

                <p><small>&copy; 2021 <a href="https://github.com/jacobxperez/essentials">Essentials</a> by <a
                            href="https://github.com/jacobxperez" rel="author">Jacob Perez</a> and licensed under the <a
                            href="http://www.apache.org/licenses/LICENSE-2.0" rel="license">Apache License
                            v2.0</a>.</small></p>

                <script src="../js/script.min.js"></script>
            </footer>
        </section>
    </main>
</body>

</html>
