// Sections
// ----------------------------------------------------------------------------/
.section-header {
	.padding-top(96px);
	.padding-bottom(48px);
	background-color: lighten(@dark, 2%);
	color: #fff;
	.margin-bottom(@base-line-height);
	.border-bottom();

	a {
		color: darken(#fff, 20%)
	}
}
